
.footer {

    &__wrapper {
        background-color: $c-primary;
        padding: 64px 78px 58px 78px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo__img {
            width: 55px;
            height: 55px;
        }
    }

    &__menu-list,
    &__social-container {
        display: flex;
    }

    &__social-container {
        margin-top: 30px;
    }

    &__link {
        margin-right: 50px;
        color: #2b3049;
        font-size: 13px;
        letter-spacing: 1.14px;
        font-weight: normal;

        transition-property: color;
        transition-duration: 0.3s;
        transition-timing-function: ease;

        &--active {
            font-weight: bold;
        }

        &:hover {
            color: $c-white;
        }
    }

    &__social-link {
        margin-right: 12px;

    }
    
    &__social-img {

        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        &:hover {
            transform: scale(1.2);
        }
    }

}

@media screen and (max-width: 768px) {
    
    .footer {

        &__wrapper {
            flex-direction: column;
            padding: 64px 15px 58px;
        }

        &__menu-list li{
            margin: 7px 0;
        }

        &__link {
            margin: 5px 7px;
            border-right:1px solid #2b3049;
            padding-right: 10px;
            white-space: nowrap;
        }
        
        &__social-container {
            justify-content: center;
            margin-bottom: 30px;
        }

        &__social-link {
            margin: 0 10px;
        }

        &__social-img {
            width: 40px;
            height: 40px;
        }
    }

    .footer__menu-list, .footer__social-container {

        flex-wrap: wrap;
        justify-content: center;
    }
}