
.main-cover {

    background-image: url('../../../public/images/main-cover.jpg');
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__title {
        font-size: 53px;
        line-height: 68px;
        color: $c-white;
        font-weight: normal;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 768px) {

    .main-cover {
        padding: 0 35px;
        align-items: center;
        text-align: center;
        background-position: bottom;
    }
}