
.product-slider__wrapper {
    display: flex;
    overflow: hidden;

    .splide__track {
        cursor: grab;
    }

}

.product-item {
    position: relative;
    
    &__index {
        position: absolute;
        width: 39px;
        height: 39px;
        line-height: 39px;
        background-color: $c-primary;
        border-radius: 30px;
        color: $c-white;
        text-align: center;
        top: 11px;
        left: 17px;
    }
}

.product-slider {
    display: flex;
    align-items: center;
    padding-left: 52px;
    width: 70%;
}

@media screen and (max-width: 768px) {
    
    .product-slider__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .product-slider {
        width: 100%;
        padding: 45px 15px;
    }

    .product-item {

        text-align: center;

        &__index {
            left: 65px;
        }
    }
}