
.s-banner__wrapper {
    background-color: $c-primary;
}

.s-banner {

    &__img {
        width: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 768px) {

    .s-banner {

        &__img {
            min-height: 380px;
            object-position: left;
        }
    }
}