* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $f-body;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: initial;
}

button {
    border: none;
    background-color: transparent;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.center {
    padding: 0 20px;
}

.f-body {
    font-family: $f-body;
}

.mt-5 {
    margin-top: 25px;
}

.mt-10 {
    margin-top: 50px;
}

.mr-4 {
    margin-right: 20px;
}

.mv-1 {
    margin-right: 5px;
    margin-left: 5px;
}

.ml-5 {
    margin-left: 25px;
}

.ml-6 {
    margin-left: 30px;
}

.pl-center {
    padding-left: 175px;
}

.pl-5 {
    padding-left: 25px;
}

.pt-5 {
    padding-top: 25px;
}

.c-primary {
    color: $c-primary;
}

.pointer {
    cursor: pointer;
}

.main-container {
    position: relative;
}

.btn {
    border-radius: 26.5px;
    border: 1px solid $c-white;
    padding: 15px 59px 15px 30px;
    color: $c-white;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-size: 13px;
    max-width: 269px;
    position: relative;
    overflow: hidden;
    z-index: 9;

    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;

    &::after {
        content: '';
        position: absolute;
        background-image: url('../../../public/images/path.svg');
        width: 25px;
        background-size: contain;
        height: 9px;
        top: 18px;
        background-position: center;
        background-repeat: no-repeat;
        right: 28px;
        filter: invert(1);

        transition-property: filter;
        transition-duration: 0.3s;
        transition-timing-function: ease;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $c-white;
        top: 0;
        left: -100%;
        z-index: -1;

        transition-property: left;
        transition-duration: 0.3s;
        transition-timing-function: ease;
    }

    &:hover {
        color: #787878;

        &::before {
            left: 0;
        }

        &::after {
            filter: none;
        }
    }

    &-invert {
        color: #282e47;
        border-color: #282e47;
        max-height: 47px;
        min-width: 234px;

        &:hover {
            color: $c-white;

            &::after {
                filter: invert(1);
            }
        }

        &::before {
            background-color: #282e47;
        }

        &::after {
            filter: none;
        }
    }

}

@media screen and (min-width:1024px) {
    .hide-d {
        display: none;
    }
}