@font-face {
    font-family: "HelveticaNeue";
    src: local("HelveticaNeue"),
      url("../../fonts/HelveticaNeue.woff2") format("woff2"),
      url("../../fonts/HelveticaNeue.woff") format("woff"),
      url("../../fonts/HelveticaNeue.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "HelveticaNeue";
    src: local("HelveticaNeue-Medium"),
        url("../../fonts/HelveticaNeue-Medium.woff2") format("woff2"),
        url("../../fonts/HelveticaNeue-Medium.woff") format("woff"),
        url("../../fonts/HelveticaNeue-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "HelveticaNeue";
    src: local("HelveticaNeue-Bold"),
      url("../../fonts/HelveticaNeue-Bold.woff2") format("woff2"),
      url("../../fonts/HelveticaNeue-Bold.woff") format("woff"),
      url("../../fonts/HelveticaNeue-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}