// Colors
$c-primary:         #cbe346;
$c-dark-gray:       #363636;
$c-white:           #ffffff;
$c-light-gray:      #d8d8d8;
$c-invalid:         #ff0000;

//Fonts
$f-body:       HelveticaNeue, sans-serif;